
<app-nav-bar></app-nav-bar><body>

    <nav class="navbar navbar-dark bg-dark fixed-top">

        <button class="navbar-toggler d-lg-none" type="button">
            <img src="assets/images/hamburger.gif" alt="Menu">
        </button>

        <a class="navbar-brand flex-grow-1" href="#">
            <img src="assets/images/logo2.png" class="my-1 mx-2" alt="Netflix">
        </a>

        <ul class="nav text-white d-none d-lg-flex">
            <li class="nav-item d-xl-none">
                <a class="nav-link active text-reset" href="#">Navegar</a>
            </li>
            <li class="nav-item d-xl-none">
                <a class="nav-link text-reset" href="#">Infantil</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link active text-reset" href="#">Inicío</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link text-reset" href="#">Séries</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link text-reset" href="#">Filmes</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link text-reset" href="#">Favoritos</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link text-reset" href="#">Minha lista</a>
            </li>
        </ul>

        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Busca">
        </form>

        <div class="media text-white p-2 d-none d-lg-flex">
            <img src="assets/images/avatar3.png" alt="Avatar" class="mr-2">
            <div class="media-body">
                <p class="h6 m-0 text-uppercase">Beatriz Lima</p>
            </div>
        </div>

        <ul class="list-unstyled font-weight-bold sidebar">
            <li class="media media-avatar">
                <img src="assets/images/avatar3.png" alt="Avatar" class="mr-2">
                <div class="media-body">
                    <p class="h6 m-0">Beatriz Lima</p>
                    <small>Trocar de perfil</small>
                </div>
            </li>
            <li class="divider"></li>
            <li><a href="#" class="text-reset">Inicio</a></li>
            <li><a href="#" class="text-reset">Minha lista</a></li>
            <li><a href="#" class="text-reset">Séries de ação e aventura</a></li>
            <li><a href="#" class="text-reset">Ação e aventura</a></li>
            <li><a href="#" class="text-reset">Séries teen</a></li>
            <li><a href="#" class="text-reset">Filmes africanos</a></li>
            <li><a href="#" class="text-reset">Séries da América Latina</a></li>
            <li><a href="#" class="text-reset">Filmes de Anime</a></li>
        </ul>

    </nav>
    

    <div class="content-fluid">

        <div class="row no-gutters">

            <div class="col-12 full-banner text-white">
                <div class="p-4 d-flex justify-content-start h-100">
                    <div>
                        <h1 class="h3">JUMANJI: BEM-VINDO A SELVA</h1>
                        <small class="d-flex my-2">
                            <span class="mr-3">2017</span>
                        </small>
                        <p class="d-none d-lg-block">Quatro estudantes ficam de castigo e têm como tarefa limpar o porão do colégio. Eles encontram um jogo chamado Jumanji e cada um escolhe um personagem. No entanto, os adolescentes acabam sendo transportados para uma selva e precisam enfrentar grandes perigos para conseguirem voltar ao mundo real.</p>
                        <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-3 list-titles">

            <i class="bi bi-bookmark-heart"></i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
              </svg>

            <h2 class="h4">Séries</h2>

            <div class="d-flex flex-nowrap overflow-hidden">

                <div class="title-item">
                    <img src="assets/images/the-rain.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>THE RAIN</h2>
                            <ul class="infos">
                                <li class="relevance">90% relevante</li>
                                <li class="age age-16"></li>
                                <li class="parts">3 Temporadas</li>
                            </ul>
                            <ul class="categories">
                                <li>Drama</li>
                                <li>Suspense</li>
                                <li>Ficção Científica</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="title-item">
                    
                    <img src="assets/images/flashh.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>THE FLASH</h2>
                            <ul class="infos">
                                <li class="relevance">82% relevante</li>
                                <li class="age age-12"></li>
                                <li class="parts">9 Temporadas</li>
                            </ul>
                            <ul class="categories">
                                <li>Ação</li>
                                <li>Fantasia</li>
                                <li>Ficção Científica</li>
                            </ul>
                        </div>
                    </div>

                </div>
                
                <div class="title-item">
                    <img src="assets/images/sweet.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>SWEET TOOTH</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-14"></li>
                                <li class="parts">2 Temporadas</li>
                            </ul>
                            <ul class="categories">
                                <li>Aventura</li>
                                <li>Fantasia</li>
                                <li>Ficção Científica</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="p-3 list-titles">
        
            <h2 class="h4">Filmes</h2>
        
            <div class="d-flex flex-nowrap overflow-hidden">
        
                <div class="title-item">
                    <img src="assets/images/aba..jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>Abaixo de Zero</h2>
                            <ul class="infos">
                                <li class="relevance">88% relevante</li>
                                <li class="age age-18"></li>
                            </ul>
                            <ul class="categories">
                                <li>Ação</li>
                                <li>Filmes policiais</li>
                                <li>Aventura</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="title-item">
                    <img src="assets/images/ca..jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>Caranguejo Negro</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-16"></li>
                            </ul>
                            <ul class="categories">
                                <li>Ação</li>
                                <li>Aventura</li>
                                
                            </ul>
                        </div>
                    </div>

                </div>
                
                <div class="title-item">
                    <img src="assets/images/resgate2.webp" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>Resgate 2</h2>
                            <ul class="infos">
                                <li class="relevance">80% relevante</li>
                                <li class="age age-16"></li>
                            </ul>
                            <ul class="categories">
                                <li>Ação</li>
                                <li>Aventura</li>
                            </ul>
                        </div>
                    </div>

                </div>
            
            </div>
        
        </div>

        <div class="p-3 list-titles">
        
            <h2 class="h4">Favoritos <span class="tex-uppercase">Beatriz</span></h2>
        
            
            <div class="d-flex flex-nowrap overflow-hidden">
        
                <div class="title-item">
                    <img src="assets/images/matilda.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>Matilda</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                            <ul class="categories">
                                <li>Comédia </li>
                                <li>Filme para a família</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="title-item">
                    <img src="assets/images/mal.3.png" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>Meu Malvado Favorito</h2>
                            <ul class="infos">
                                <li class="relevance">95% relevante</li>
                                <li class="age age-free"></li>
                            </ul>
                            <ul class="categories">
                                <li>Filme de comédia</li>
                                <li>Filme para toda a família</li>
                            </ul>
                        </div>
                    </div>

                </div>
                
                <div class="title-item">
                    <img src="assets/images/fera.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <button type="button" class="btn-play"><i class="material-icons">❤</i></button>
                            <h2>A Fera do Mar</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-free"></li>
                            </ul>
                            <ul class="categories">
                                <li>Épico</li>
                                <li>Amizade com animais</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        
        </div>

    </div>

    <footer class="row no-gutters p-4">

        <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Termos de uso</a>
        <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Declaração de privacidade</a>
        <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Preferências de cookies</a>
        <a class="col-12 col-sm-6 col-lg-3 text-reset" href="#">Centro de ajuda</a>

    </footer>

